@import 'style.css';
.header {
  background: #fff;
  position: fixed;
  z-index: 99999;
  width: 100%;
}
.header .header-wrap {
  padding: 35px 70px 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
}
.header .header-wrap .top {
  opacity: 0;
}
.header .header-wrap .top.active {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  opacity: 1;
}
.header .header-wrap .top .search-btn {
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
}
.header .header-wrap .top span {
  cursor: pointer;
  font-size: 12px;
  color: #707070;
  margin-right: 15px;
}
.header .header-wrap .header-wrap-in {
  margin-top: 12px;
  padding-bottom: 1px;
}
.header .header-wrap .header-wrap-in .logo {
  width: 295px;
  position: relative;
  top: -55px;
  opacity: 0;
}
.header .header-wrap .header-wrap-in .logo a {
  display: block;
}
.header .header-wrap .header-wrap-in .logo a img {
  width: 100%;
}
.header .header-wrap .header-wrap-in .logo.active {
  top: -3px;
  opacity: 1;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
}
.header .header-wrap .header-wrap-in .right {
  position: relative;
  left: -100px;
  opacity: 0;
}
.header .header-wrap .header-wrap-in .right ul > li {
  float: left;
  width: 84px;
  margin-right: 50px;
  position: relative;
}
.header .header-wrap .header-wrap-in .right ul > li:last-child {
  margin-right: 0;
}
.header .header-wrap .header-wrap-in .right ul > li > a {
  text-align: center;
  padding: 12px 0 28px;
  display: block;
  font-size: 16px;
  color: #211815;
  font-weight: bold;
}
.header .header-wrap .header-wrap-in .right ul > li.active a.first-nav {
  border-bottom: 5px solid #f1be41;
}
.header .header-wrap .header-wrap-in .right ul > li:hover a.first-nav {
  border-bottom: 5px solid #f1be41;
}
.header .header-wrap .header-wrap-in .right ul > li .second-nav {
  display: none;
  position: absolute;
  z-index: 999;
  top: 69px;
  width: 188px;
  text-align: center;
  left: 50%;
  margin-left: -94px;
  background: #fff;
}
.header .header-wrap .header-wrap-in .right ul > li .second-nav > li .ol-li-in {
  padding: 0 10px;
  height: 59px;
  line-height: 59px;
}
.header .header-wrap .header-wrap-in .right ul > li .second-nav > li a {
  color: #707070;
  font-size: 18px;
  display: block;
  border-bottom: 1px solid #eee;
}
.header .header-wrap .header-wrap-in .right ul > li .second-nav > li:last-child .ol-li-in a {
  border: none;
}
.header .header-wrap .header-wrap-in .right ul > li .second-nav > li:hover .ol-li-in a {
  color: #f1be41;
}
.header .header-wrap .header-wrap-in .right.active {
  left: 0;
  opacity: 1;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
}
.header .header-wrap .header-wrap-in .pad-btn {
  margin-top: 8px;
  display: none;
}
.header.active .header-wrap {
  padding: 15px 50px 0;
}
.header.active .header-wrap .header-wrap-in {
  margin-top: 6px;
  padding-bottom: 0;
}
.header.active .header-wrap .header-wrap-in .right ul > li > a {
  padding: 10px 0 10px;
}
.header.active .header-wrap .header-wrap-in .right ul > li .second-nav {
  display: none;
  position: absolute;
  z-index: 999;
  top: 48px;
  width: 188px;
  text-align: center;
  left: 50%;
  margin-left: -94px;
  background: #fff;
}
.header.active .header-wrap .header-wrap-in .right ul > li .second-nav > li .ol-li-in {
  padding: 0 10px;
  height: 59px;
  line-height: 59px;
}
.header.active .header-wrap .header-wrap-in .right ul > li .second-nav > li a {
  color: #707070;
  font-size: 18px;
  display: block;
  border-bottom: 1px solid #eee;
}
.header.active .header-wrap .header-wrap-in .right ul > li .second-nav > li:last-child .ol-li-in a {
  border: none;
}
.header.active .header-wrap .header-wrap-in .right ul > li .second-nav > li:hover .ol-li-in a {
  color: #f1be41;
}
.header.active .header-wrap .header-wrap-in .right.active {
  left: 0;
  opacity: 1;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
}
.pad-nav {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #191919;
  overflow-y: auto;
  padding: 10% 6%;
  display: none;
}
.pad-nav .close-box {
  text-align: right;
}
.pad-nav .close-box img.close {
  cursor: pointer;
}
.pad-nav .pad-nav-list {
  color: #fff;
  text-align: center;
}
.pad-nav .pad-nav-list > li a {
  font-size: 18px;
  padding: 10px 0;
  color: #ffffff;
  display: inline-block;
}
.pad-nav .pad-nav-list > li ol {
  display: none;
}
.pad-nav .pad-nav-list > li ol li a {
  font-size: 14px;
  color: #707070;
  width: 90%;
}
.pad-nav .pad-nav-list > li:hover ol {
  display: block;
}
.wx-code-box {
  display: none;
  opacity: 0;
  top: 0;
  position: fixed;
  z-index: 9999999;
  padding: 20px;
  left: 50%;
  margin-left: -165px;
  text-align: center;
  background: #fff;
}
.wx-code-box .wx-code-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.outer-box {
  max-width: 1280px;
  margin: 0 auto;
}
.footer {
  height: 300px;
  background: #1e4f9c;
}
.footer .foot-inner {
  padding-top: 120px;
}
.footer .foot-inner .f-left {
  margin-left: 2%\0;
  position: relative;
  opacity: 0;
  left: -30px;
}
.footer .foot-inner .f-left.active {
  opacity: 1;
  left: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
}
.footer .foot-inner .f-right {
  margin-right: 2%\0;
  position: relative;
  opacity: 0;
  left: -30px;
}
.footer .foot-inner .f-right.active {
  opacity: 1;
  left: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
}
.footer .foot-inner .f-right .f-r-t {
  text-align: right;
}
.footer .foot-inner .f-right .f-r-t span {
  display: inline-block;
  width: 1px;
  height: 16px;
  background: rgba(255, 255, 255, 0.5);
  vertical-align: middle;
  margin: 0 8px;
}
.footer .foot-inner .f-right .f-r-t a {
  color: #fff;
}
.footer .foot-inner .f-right .f-r-b {
  color: #fff;
  margin-top: 25px;
}
.footer .foot-inner .f-right .f-r-b span {
  display: inline-block;
  width: 1px;
  height: 16px;
  background: rgba(255, 255, 255, 0.5);
  vertical-align: middle;
  margin: 0 5px;
}
.footer .foot-inner .f-right .f-r-b a {
  color: #fff;
}
.footer .foot-inner .f-right .subCompany-list {
  position: absolute;
  top: -200px;
  right: 0;
  width: 290px;
  height: 126px;
  background: #ffffff;
  border-radius: 3px;
  padding: 10px 0;
  opacity: 0;
}
.footer .foot-inner .f-right .subCompany-list ul {
  height: 100%;
  overflow: auto;
}
.footer .foot-inner .f-right .subCompany-list ul::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ebebeb;
}
.footer .foot-inner .f-right .subCompany-list ul::-webkit-scrollbar {
  width: 5px;
  background-color: #c2cfdf;
}
.footer .foot-inner .f-right .subCompany-list ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1e4f9c;
}
.footer .foot-inner .f-right .subCompany-list ul li {
  margin: 10px 10px 0;
  border-bottom: 1px solid #eeeeee;
}
.footer .foot-inner .f-right .subCompany-list ul li a {
  color: #b7c2cf;
  padding-left: 5px;
  margin-bottom: 5px;
}
.footer .foot-inner .f-right .subCompany-list ul li a:hover {
  color: #1e4f9c;
}
.footer .foot-inner .f-right .subCompany-list:after {
  position: absolute;
  top: 146px;
  right: 16px;
  content: '';
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 10px solid #ffffff;
}
.max-width1280 {
  max-width: 1280px;
  margin: 0 auto;
}
.title {
  margin-top: 135px;
  position: relative;
}
.title img {
  width: 100%;
}
.title .title-text {
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.title .title-text h5 {
  font-weight: bold;
}
.title .title-text p {
  white-space: nowrap;
}
.title .title-text.active {
  opacity: 1;
  top: 50%;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
}
@media screen and (max-width: 1440px) {
  .header .header-wrap {
    padding: 25px 60px 0;
  }
  .header .header-wrap .header-wrap-in {
    margin-top: 8px;
  }
  .header .header-wrap .header-wrap-in .right ul > li {
    margin-right: 35px;
  }
  .header .header-wrap .header-wrap-in .right ul > li > a {
    padding: 8px 0px 22px;
  }
  .header .header-wrap .header-wrap-in .right ul > li.active a.first-nav {
    border-bottom: 4px solid #f1be41;
  }
  .header .header-wrap .header-wrap-in .right ul > li:hover a.first-nav {
    border-bottom: 4px solid #f1be41;
  }
  .header .header-wrap .header-wrap-in .right ul > li .second-nav {
    top: 58px;
    width: 150px;
    text-align: center;
    left: 50%;
    margin-left: -75px;
    background: #fff;
  }
  .header .header-wrap .header-wrap-in .right ul > li .second-nav > li .ol-li-in {
    padding: 0 8px;
    height: 54px;
    line-height: 54px;
  }
  .title {
    margin-top: 110px;
  }
  .footer {
    height: 260px;
  }
  .footer .foot-inner {
    max-width: none;
    padding: 100px 3% 0;
  }
}
@media screen and (max-width: 1300px) {
  .footer {
    height: 200px;
  }
  .footer .foot-inner {
    padding: 70px 5% 0;
  }
}
@media screen and (max-width: 1200px) {
  .header .header-wrap {
    padding: 15px 30px 0;
  }
  .header .header-wrap .header-wrap-in {
    margin-top: 4px;
  }
  .header .header-wrap .header-wrap-in .right ul > li {
    margin-right: 20px;
  }
  .header .header-wrap .header-wrap-in .right ul > li > a {
    padding: 6px 0 16px;
  }
  .header .header-wrap .header-wrap-in .right ul > li .second-nav {
    top: 49px;
    width: 120px;
    text-align: center;
    left: 50%;
    margin-left: -60px;
    background: #fff;
  }
  .header .header-wrap .header-wrap-in .right ul > li .second-nav > li .ol-li-in {
    padding: 0 8px;
    height: 50px;
    line-height: 50px;
  }
  .title {
    margin-top: 87px;
  }
}
@media screen and (max-width: 1100px) {
  .footer .foot-inner .f-right .f-r-b {
    margin-top: 5px;
  }
  .footer .foot-inner .f-right .f-r-b i {
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  .header .header-wrap {
    padding: 15px;
  }
  .header .header-wrap .header-wrap-in {
    margin-top: 4px;
  }
  .header .header-wrap .header-wrap-in .logo {
    width: inherit;
    line-height: 40px;
    min-height: 40px;
  }
  .header .header-wrap .header-wrap-in .right {
    display: none;
  }
  .header .header-wrap .header-wrap-in .pad-btn {
    display: block;
  }
  .header.active .header-wrap {
    padding: 15px;
  }
  .title {
    margin-top: 92px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .footer .foot-inner {
    padding-top: 20px;
  }
  .footer .foot-inner .f-left {
    float: none;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer .foot-inner .f-right {
    float: none;
  }
  .footer .foot-inner .f-right .f-r-t {
    text-align: center;
  }
  .footer .foot-inner .f-right .f-r-t span {
    display: inline-block;
    width: 1px;
    height: 16px;
    background: rgba(255, 255, 255, 0.5);
    vertical-align: middle;
    margin: 0 8px;
  }
  .footer .foot-inner .f-right .f-r-t a {
    color: #fff;
  }
  .footer .foot-inner .f-right .f-r-b {
    color: #fff;
    text-align: center;
    margin-top: 25px;
  }
  .footer .foot-inner .f-right .f-r-b span {
    display: inline-block;
    width: 1px;
    height: 16px;
    background: rgba(255, 255, 255, 0.5);
    vertical-align: middle;
    margin: 0 5px;
  }
  .footer .foot-inner .f-right .subCompany-list {
    right: 27%;
  }
}
@media screen and (max-width: 767px) {
  .header .header-wrap .header-wrap-in .logo a img {
    max-width: 250px;
    vertical-align: middle;
  }
  .footer {
    height: auto;
  }
  .footer .foot-inner {
    padding: 20px 0 20px 0;
  }
  .footer .foot-inner .f-left {
    float: none;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer .foot-inner .f-right {
    float: none;
  }
  .footer .foot-inner .f-right .f-r-t {
    text-align: center;
  }
  .footer .foot-inner .f-right .f-r-t span {
    margin: 0 2px;
  }
  .footer .foot-inner .f-right .f-r-t a {
    color: #fff;
  }
  .footer .foot-inner .f-right .f-r-b {
    color: #fff;
    text-align: center;
    margin-top: 25px;
  }
  .footer .foot-inner .f-right .f-r-b span {
    display: inline-block;
    width: 1px;
    height: 16px;
    background: rgba(255, 255, 255, 0.5);
    vertical-align: middle;
    margin: 0 5px;
  }
  .footer .foot-inner .f-right .subCompany-list {
    right: 10%;
  }
  .title img {
    min-height: 15vh;
  }
}
.dp-banner {
  text-align: center;
}
.dp-banner img {
  width: 100%;
  max-width: 1920px;
}
.dp-content {
  width: 100%;
}
.dp-content .content-box {
  width: 100%;
  background: #f1f1f1;
}
.dp-content .content-box:nth-child(even) {
  background: #ffffff;
}
.dp-content .content-box:nth-child(even) .content article {
  float: right;
}
.dp-content .content-box:nth-child(even) .content .img-box {
  float: left;
}
.dp-content .content-box:nth-child(even) .content span {
  margin-left: -114px;
}
.dp-content .content-box .content {
  width: 100%;
  max-width: 1780px;
  position: relative;
  padding: 75px 0;
  margin: 0 auto;
}
.dp-content .content-box .content article {
  float: left;
  width: 47%;
  text-align: center;
  padding-top: 70px;
  position: relative;
  bottom: 40px;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
}
.dp-content .content-box .content article h2 {
  color: #707070;
  font-weight: bold;
  max-width: 495px;
  margin: 0 auto;
}
.dp-content .content-box .content article p {
  color: #acacac;
  max-width: 440px;
  margin: 10px auto;
}
.dp-content .content-box .content article.pt100 {
  padding-top: 100px;
}
.dp-content .content-box .content .img-box {
  float: right;
  max-width: 944px;
  width: 53%;
  position: relative;
  top: 40px;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
}
.dp-content .content-box .content .img-box img {
  width: 100%;
  max-width: 944px;
}
.dp-content .content-box .content span {
  position: absolute;
  width: 138px;
  height: 138px;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  border-radius: 50%;
  background: #ffffff;
  color: #707070;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  margin-top: 0;
  visibility: hidden;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
}
.dp-content .content-box .content span:before {
  content: '';
  width: 123px;
  height: 123px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -62px;
  margin-left: -62px;
  border-radius: 50%;
  border: 1px solid #f1be41;
}
.dp-content .content-box .content.active span {
  margin-top: -69px;
  opacity: 1;
  visibility: visible;
}
.dp-content .content-box .content.active article {
  opacity: 1;
  bottom: 0;
  visibility: visible;
}
.dp-content .content-box .content.active .img-box {
  opacity: 1;
  top: 0;
  visibility: visible;
}
@media screen and (max-width: 767px) {
  .dp-content .content-box .content article {
    width: 100%;
  }
  .dp-content .content-box .content article.pt100 {
    padding-top: inherit;
  }
  .dp-content .content-box .content .img-box {
    width: 100%;
  }
  .dp-content .content-box .content span {
    width: 80px;
    height: 80px;
    margin-left: -40px;
    background: #f1f1f1;
  }
  .dp-content .content-box .content span:before {
    width: 70px;
    height: 70px;
    margin-top: -36px;
    margin-left: -36px;
  }
  .dp-content .content-box .content span.active {
    margin-top: -30px;
  }
  .dp-content .content-box:nth-child(even) .content span {
    margin-left: -40px;
    background: #ffffff;
  }
  .dp-content .content-box:nth-child(even) .content span.active {
    margin-top: -70px;
  }
}
